<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>我的历史考试</title>
	<link rel="icon" href="/img/temp/favicon.ico"/>
	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css"/>
	<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css"/>
	<!--	elementui-->
	<link rel="stylesheet" href="../js/plugins/elementui/index.css">
	<link rel="stylesheet" href="../js/plugins/font-awesome/css/font-awesome.min.css">

	<link rel="stylesheet" href="../css/style.css"/>
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/vue.min.js"></script>
	<script src="../js/axios.min.js"></script>
	<script src="../js/pagination.js"></script>
	<!--	elementui-->
	<script src="../js/plugins/elementui/index.js"></script>
	<!--	基本增删改查-->
	<script src="../controller/history.js"></script>

</head>
<body class="hold-transition skin-red sidebar-mini">
<div id="app">
	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">我的历史考试</h3>
	</div>

	<div class="box-body">
		<!-- 数据表格 -->
		<div class="table-box">
			<!--工具栏-->
			<!--<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" @click="entity = {}" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
						<button type="button" class="btn btn-default" title="删除" @click="del()" ><i class="fa fa-trash-o"></i> 删除</button>
						<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
					</div>
				</div>
			</div>-->
			<div class="box-tools pull-right">
				<div class="has-feedback">
					<!--  查询条件区-->
					<table>
						<tr>
							<td><input class="form-control" v-model="searchEntity.paperName" placeholder="试卷名称">
							</td>
							<td>
								<button type="button" class="btn btn-default" @click="findPage(1)">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div><br/>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
				<thead>
				<tr>
					<th class="" style="padding-right:0px">
						<input id="selall" type="checkbox"
							   @click="checkAll($event)"
							   :checked="checked"
							   class="icheckbox_square-blue">
					</th>
					<th class="sorting_asc">试卷ID</th>
					<th class="sorting">试卷名称</th>
					<th class="sorting">满分数</th>
					<th class="sorting">我的得分</th>
					<th class="sorting">考试时间</th>
					<th class="text-center">操作</th>
				</tr>
				</thead>
				<tbody>
				<tr  v-for="entity in dataList">
					<td><input  type="checkbox" :value="entity.id" v-model="ids"></td>
					<td>{{entity.paperId}}</td>
					<td>{{entity.paperName}}</td>
					<td>{{entity.srcScore}}</td>
					<td>{{entity.userScore}}</td>
					<td>{{entity.createDateString}}</td>
					<td class="text-center">
						<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" @click="show(entity)" data-target="#editModal"  >查看排名</button>
					</td>
				</tr>
				</tbody>
			</table>
			<!--分页主件-->
			<pagination :pages="pagetotal"
						:current="curPage"
						@navpage="findPage"/>
			<!--数据列表/-->
		</div>
		<!-- 数据表格 /-->
	</div>
	<!-- /.box-body -->

	<!-- 排名查看窗口 -->
	<div class="modal fade" id="editModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog modal-lg" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">排行榜（该榜只记录您的最高得分）</h3>
				</div>
				<div class="modal-body">
					<table id="dataLisat" class="table table-bordered table-striped table-hover dataTable">
						<thead>
						<tr>

							<th class="sorting">排名</th>
							<th class="sorting">用户名</th>
							<th class="sorting">试卷名称</th>
							<th class="sorting">满分数</th>
							<th class="sorting">得分</th>
							<th class="sorting">考试时间</th>
						</tr>
						</thead>
						<tbody>
						<tr  v-for="(entity,index) in historydataList">

							<td>第{{index+1}}名</td>
							<td>{{entity.userId}}</td>
							<td>{{entity.paperName}}</td>
							<td>{{entity.srcScore}}</td>
							<td>{{entity.userScore}}</td>
							<td>{{entity.createDateString}}</td>

						</tr>
						</tbody>
					</table>
					<!--分页主件-->
					<pagination :pages="pagetotal"
								:current="curPage"
								@navpage="findPage"/>


				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">确定</button>
					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>